<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BubbleBreaker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BubbleBreaker.Properties.Settings>
            <setting name="HiScore" serializeAs="String">
                <value>0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;</value>
            </setting>
            <setting name="NoGames" serializeAs="String">
                <value>0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;</value>
            </setting>
            <setting name="BreakerSet" serializeAs="String">
                <value>0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;</value>
            </setting>
            <setting name="StartBreakerSet" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="StartGameStyle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartAudio" serializeAs="String">
                <value>1</value>
            </setting>
        </BubbleBreaker.Properties.Settings>
    </userSettings>
</configuration>